---
# This section includes base Calico installation configuration.
apiVersion: operator.tigera.io/v1
kind: Installation
metadata:
  name: default
spec:
  calicoNetwork:
    nodeAddressAutodetectionV4:
      interface: "eth0|en.*|ens.*|enp.*"  
    ipPools:
      - name: default-ipv4-ippool
        blockSize: {{ calico_block_size | default(26) }}
        cidr: {{ calico_pod_cidr | default('10.160.0.0/16') }}
        encapsulation: {{ calico_encapsulation | default('VXLANCrossSubnet') }}
        natOutgoing: {{ calico_nat_outgoing | default('Enabled') }}
        nodeSelector: all()
  mtu: 1450

---

# Configures the Calico API server.
apiVersion: operator.tigera.io/v1
kind: APIServer
metadata:
  name: default
spec: {}

---

# Configures the Calico Goldmane flow aggregator.
apiVersion: operator.tigera.io/v1
kind: Goldmane
metadata:
  name: default

---

# Configures the Calico Whisker observability UI.
apiVersion: operator.tigera.io/v1
kind: Whisker
metadata:
  name: default