---
apiVersion: crd.projectcalico.org/v1
kind: IPPool
metadata:
  name: app-ippool-v2
spec:
  allowedUses:
  - Workload
  - Tunnel
  assignmentMode: Automatic
  blockSize: 26
  cidr: 10.20.0.0/16
  ipipMode: Always
  natOutgoing: true
  nodeSelector: all()
  vxlanMode: Never
  assignmentMode: Manual
---
