service:
  ui:
    type: NodePort          # 集群外访问,QN默认从32600开始占用端口，方便用来写文档测试。
    nodePort:  {{ longhorn_service_ui_port }}         # 物理节点监听端口（可改）
    port: 80                # ClusterIP 端口
  manager:
    type: ClusterIP
  backend:
    type: ClusterIP

# 让 Longhorn 成为默认 StorageClass
persistence:
  defaultClass: true
  defaultClassReplicaCount: {{ longhorn_persistence_defaultClassReplicaCount }}
  defaultFsType: ext4
  reclaimPolicy: Delete

# 其余常用调优
defaultSettings:
  default-data-path: "{{ longhorn_defaultSettings_default_data_path }}"
  default-disk-path: "{{ longhorn_defaultSettings_default_data_path }}"
  create-default-disk: "true"
  create-default-disk-labeled-nodes: "true"
  default-disk-allow-scheduling: "true"
  
image:
  longhorn:
    engine:
      registry: {{ IMAGE_REGISTRY }}
      repository: {{ longhorn_image_longhorn_engine_repository }}
    manager:
      registry: {{ IMAGE_REGISTRY }}
      repository: {{ longhorn_image_longhorn_manager_repository }}
    ui:
      registry: {{ IMAGE_REGISTRY }}
      repository: {{ longhorn_image_longhorn_ui_repository }}
    instanceManager:
      registry: {{ IMAGE_REGISTRY }}
      repository: {{ longhorn_image_longhorn_instanceManager_repository }}
    shareManager:
      registry: {{ IMAGE_REGISTRY }}
      repository: {{ longhorn_image_longhorn_shareManager_repository }}
    backingImageManager:
      registry: {{ IMAGE_REGISTRY }}
      repository: {{ longhorn_image_longhorn_backingImageManager_repository }}
    supportBundleKit:
      registry: {{ IMAGE_REGISTRY }}
      repository: {{ longhorn_image_longhorn_supportBundleKit_repository }}
  csi:
    attacher:
      registry: {{ IMAGE_REGISTRY }}
      repository: {{ longhorn_image_csi_attacher_repository }}
    provisioner:
      registry: {{ IMAGE_REGISTRY }}
      repository: {{ longhorn_image_csi_provisioner_repository }}
    nodeDriverRegistrar:
      registry: {{ IMAGE_REGISTRY }}
      repository: {{ longhorn_image_csi_nodeDriverRegistrar_repository }}
    resizer:
      registry: {{ IMAGE_REGISTRY }}
      repository: {{ longhorn_image_csi_resizer_repository }}
    snapshotter:
      registry: {{ IMAGE_REGISTRY }}
      repository: {{ longhorn_image_csi_snapshotter_repository }}
    livenessProbe:
      registry: {{ IMAGE_REGISTRY }}
      repository: {{ longhorn_image_csi_livenessProbe_repository }}