- name: Rollback Proxmox VMs to ansible-ready snapshot
  hosts: pve_host
  gather_facts: no
  tasks:
    - name: Rollback each VM to its snapshot
      command: qm rollback {{ item }} {{ hostvars[item].snapshot | default('ansible-ready') }} #默认snap是ansible ready
      loop: "{{ groups['vm_ids'] }}"
      # when: INIT_VM | default(false) | bool 