---
- name: 添加 Quantanexus Helm 仓库
  kubernetes.core.helm_repository:
    name: hi168
    repo_url: https://helm.hi168.com/charts
    state: present

- name: 创建 values.yaml 配置文件
  template:
    src: values.yaml.j2
    dest: "/tmp/quantanexus-mgr-values.yaml"

- name: 创建 quantanexus-mgr 命名空间
  kubernetes.core.k8s:
    name: "{{ quantanexus_mgr_namespace }}"
    api_version: v1
    kind: Namespace
    state: present

- name: 部署Quantanexus-Mgr
  kubernetes.core.helm:
    name: quantanexus-mgr
    chart_ref: hi168/quantanexus-mgr
    release_namespace: "{{ quantanexus_mgr_namespace }}"
    chart_version: "{{ quantanexus_version }}"
    values_files:
      - "/tmp/quantanexus-mgr-values.yaml"
    state: present
    wait: true
    wait_timeout: "300s"   # Helm 要求带单位