service:
  ui:
    type: {{ longhorn_service_ui_type }}
    nodePort: {{ longhorn_service_ui_nodePort }}
    port: {{ longhorn_service_ui_port }}
  manager:
    type: {{ longhorn_service_manager_type }}
  backend:
    type: {{ longhorn_service_backend_type }}

persistence:
  defaultClass: {{ longhorn_persistence_defaultClass }}
  defaultClassReplicaCount: {{ longhorn_persistence_defaultClassReplicaCount }}
  defaultFsType: {{ longhorn_persistence_defaultFsType }}
  reclaimPolicy: {{ longhorn_persistence_reclaimPolicy }}

defaultSettings:
  default-data-path: "{{ longhorn_defaultSettings_default_data_path }}"
  default-disk-path: "{{ longhorn_defaultSettings_default_disk_path }}"
  create-default-disk: "{{ longhorn_defaultSettings_create_default_disk }}"
  create-default-disk-labeled-nodes: "{{ longhorn_defaultSettings_create_default_disk_labeled_nodes }}"
  default-disk-allow-scheduling: "{{ longhorn_defaultSettings_default_disk_allow_scheduling }}"

image:
  longhorn:
    engine:
      registry: {{ longhorn_image_registry }}
      repository: {{ longhorn_image_longhorn_engine_repository }}
    manager:
      registry: {{ longhorn_image_registry }}
      repository: {{ longhorn_image_longhorn_manager_repository }}
    ui:
      registry: {{ longhorn_image_registry }}
      repository: {{ longhorn_image_longhorn_ui_repository }}
    instanceManager:
      registry: {{ longhorn_image_registry }}
      repository: {{ longhorn_image_longhorn_instanceManager_repository }}
    shareManager:
      registry: {{ longhorn_image_registry }}
      repository: {{ longhorn_image_longhorn_shareManager_repository }}
    backingImageManager:
      registry: {{ longhorn_image_registry }}
      repository: {{ longhorn_image_longhorn_backingImageManager_repository }}
    supportBundleKit:
      registry: {{ longhorn_image_registry }}
      repository: {{ longhorn_image_longhorn_supportBundleKit_repository }}
  csi:
    attacher:
      registry: {{ longhorn_image_registry }}
      repository: {{ longhorn_image_csi_attacher_repository }}
    provisioner:
      registry: {{ longhorn_image_registry }}
      repository: {{ longhorn_image_csi_provisioner_repository }}
    nodeDriverRegistrar:
      registry: {{ longhorn_image_registry }}
      repository: {{ longhorn_image_csi_nodeDriverRegistrar_repository }}
    resizer:
      registry: {{ longhorn_image_registry }}
      repository: {{ longhorn_image_csi_resizer_repository }}
    snapshotter:
      registry: {{ longhorn_image_registry }}
      repository: {{ longhorn_image_csi_snapshotter_repository }}
    livenessProbe:
      registry: {{ longhorn_image_registry }}
      repository: {{ longhorn_image_csi_livenessProbe_repository }}