- name: Add/Update JuiceFS Helm repository
  kubernetes.core.helm_repository:
    name: juicedata
    repo_url: "{{ juicefs_chart_repo }}"
    state: present
    force_update: true          # <= 关键参数

# 0. 获取 MinIO 访问信息（与 minio role 解耦）
- name: 查询 minio release 是否存在
  kubernetes.core.helm_info:
    name: "{{ minio_release | default('minio') }}"
    release_namespace: "{{ minio_namespace }}"
  register: minio_helm_info

- block:
    - name: 获取 MinIO root 凭据（来自集群真实 Secret）
      kubernetes.core.k8s_info:
        api_version: v1
        kind: Secret
        name: "{{ minio_release | default('minio') }}"
        namespace: "{{ minio_namespace }}"
      register: minio_secret

    - name: 确保 Secret 存在
      assert:
        that:
          - minio_secret.resources is defined
          - minio_secret.resources | length > 0
        fail_msg: "Secret {{ minio_release | default('minio') }}-minio 未找到，请先安装 MinIO！"

    - name: 解析 root 账号
      set_fact:
        juicefs_s3_bucket: "http://minio.{{ minio_namespace }}.svc.cluster.local:9000/{{ minio_juicefs_bucket_name | default('juicefs-s3-public') }}"
        juicefs_secret_access_key: "{{ minio_secret.resources[0].data.rootUser | b64decode }}"
        juicefs_secret_secret_key: "{{ minio_secret.resources[0].data.rootPassword | b64decode }}"
- name: 打印 JuiceFS 桶访问信息（ClusterIP）
  ansible.builtin.debug:
    msg:
      - "juicefs_secret_access_key : {{ juicefs_secret_access_key }}"
      - "juicefs_secret_secret_key    : {{ juicefs_secret_secret_key }}"
      - "juicefs_s3_bucket : {{ juicefs_s3_bucket }}"

- name: 渲染 JuiceFS values 文件
  ansible.builtin.template:
    src: values.yaml.j2
    dest: /tmp/values-juicefs-{{ juicefs_csi_release }}.yaml
    mode: '0600'

- name: 安装/升级 JuiceFS CSI Driver
  kubernetes.core.helm:
    name: "{{ juicefs_csi_release }}"
    chart_ref: "{{ juicefs_csi_chart_name }}"
    # chart_version: "{{ juicefs_chart_version | default(omit) }}"
    release_namespace: "{{ juicefs_namespace }}"
    create_namespace: true
    values_files:
      - /tmp/values-juicefs-{{ juicefs_csi_release }}.yaml
    wait: true
    timeout: 3m

- name: 渲染 JuiceFS S3 values 文件
  ansible.builtin.template:
    src: values-s3.yaml.j2
    dest: /tmp/values-juicefs-s3-{{ juicefs_s3_release }}.yaml
    mode: '0600'

# s3 deploy
- name: 获取 MinIO root 凭据（来自 Secret）
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Secret
    name: minio
    namespace: "{{ minio_namespace }}"
  register: minio_secret



- name: 安装/升级 JuiceFS S3 
  kubernetes.core.helm:
    name: "{{ juicefs_s3_release }}"
    chart_ref: "{{ juicefs_s3_chart_name }}"
    # chart_version: "{{ juicefs_chart_version | default(omit) }}"
    release_namespace: "{{ juicefs_namespace }}"
    create_namespace: true
    values_files:
      - /tmp/values-juicefs-s3-{{ juicefs_s3_release }}.yaml
    wait: true
    timeout: 3m