global:
  registry: {{ IMAGE_REGISTRY }}
  imageName: chrislusf-seaweedfs
  replicaCount: 3
filer:
  s3:
    enabled: true
    port: 8333
volume:
  resizeHook:
    image: alpine-k8s

cosi:
  image: ghcr.io-seaweedfs-seaweedfs-cosi-driver
  sidecar:
    image: gcr.io-k8s-staging-sig-storage-objectstorage-sidecar
