---
architecture: replication
global:
  imageRegistry: ""
  security:
    allowInsecureImages: {{ global_security_allow_insecure_images | default(false) | lower }}
image:
  registry: "{{ IMAGE_REGISTRY }}"
  repository: "{{ redis_image_repository }}"
  tag: "{{ redis_image_tag }}"
auth:
  enabled: true
  sentinel: true
  password: "{{ redis_password }}"
persistence:
  enabled: true
master:
  count: 1
  persistence:
    enabled: true
    storageClass: "{{ redis_storage_class }}"
    size: "{{ redis_storage_size }}"
  resources:
    requests:
      cpu: {{ redis_master_cpu_req }}
      memory: {{ redis_master_mem_req }}
    limits:
      cpu: {{ redis_master_cpu_lim }}
      memory: {{ redis_master_mem_lim }}
replica:
  registry: "{{ IMAGE_REGISTRY }}"
  repository: "{{ redis_image_repository }}"
  tag: "{{ redis_image_tag }}"
  replicaCount: 3
  persistence:
    enabled: true
    storageClass: "{{ redis_storage_class }}"
    size: "{{ redis_storage_size }}"
  resources:
    requests:
      cpu: {{ redis_replica_cpu_req }}
      memory: {{ redis_replica_mem_req }}
    limits:
      cpu: {{ redis_replica_cpu_lim }}
      memory: {{ redis_replica_mem_lim }}
  podAntiAffinityPreset: soft
sentinel:
  enabled: true
  replicaCount: 3
  quorum: 2
  image:
    registry: "{{ IMAGE_REGISTRY }}"
    repository: "{{ redis_sentinel_image_repository }}"
    tag: "{{ redis_image_tag }}"
  service:
    type: NodePort
    nodePorts:
      redis: "{{ redis_node_port_redis }}"
      sentinel: "{{ redis_node_port_sentinel }}"
  resources:
    requests:
      cpu: {{ redis_sentinel_cpu_req }}
      memory: {{ redis_sentinel_mem_req }}
    limits:
      cpu: {{ redis_sentinel_cpu_lim }}
      memory: {{ redis_sentinel_mem_lim }}
metrics:
  enabled: true
  image:
    registry: "{{ IMAGE_REGISTRY }}"
    repository: "{{ redis_exporter_image_repository }}"
    tag: "{{ redis_image_tag }}"
  serviceMonitor:
    enabled: false
volumePermissions:
  image:
    registry: "{{ IMAGE_REGISTRY }}"
    repository: "{{ redis_os_shell_image_repository }}"
    tag: "{{ redis_image_tag }}"
kubectl:
  image:
    registry: "{{ IMAGE_REGISTRY }}"
    repository: "{{ redis_kubectl_image_repository }}"
    tag: "{{ redis_image_tag }}"
sysctl:
  image:
    registry: "{{ IMAGE_REGISTRY }}"
    repository: "{{ redis_os_shell_image_repository }}"
    tag: "{{ redis_image_tag }}"