# Global configuration
global:
  domainName: {{ quantanexus_cs_domain_name }}
  # registry: harbor.hi168.com/quantanexus
  # In China, please use aliyuncs
  registry: {{ quantanexus_cs_image_registry }}