# build and push qni ( QuantaNexus Installer)
name: Create and publish Docker image
on:
  push:
    tags:
      - 'v*'         

env:
  REGISTRY: registry.cn-hangzhou.aliyuncs.com

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      # packages: write          # 仅 GitHub Container Registry 需要，可保留或删除
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            hwua/quantanexus-installer
            registry.cn-hangzhou.aliyuncs.com/quantanexus/quantanexus-installer
          tags: |
            type=ref,event=tag
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_KEY }}

      - name: Login to Aliyun ACR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.ALIYUN_REGISTRY_USER }}
          password: ${{ secrets.ALIYUN_REGISTRY_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          file: ./install/test/kubeasz/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            QNI_VER=${{ github.ref_name }}
          cache-from: type=gha
          cache-to: type=gha,mode=max