name: Release
on:
  push:
    tags:
      - 'v*'         

permissions:
  contents: write    # 必须有写权限才能创建 Release

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      #Helm install
      - uses: azure/setup-helm@v4
        with:
          version: 'latest'
      #默认在代码主目录下，打包
      - name: Package Helm Chart
        run: |
          helm package quantanexus-mgr \
            --version ${{ github.ref_name }} \
            --app-version ${{ github.ref_name }}
          # 生成文件形如: quantanexus-mgr-1.2.3.tgz
          echo "CHART_MGR_TGZ=quantanexus-mgr-${{ github.ref_name }}.tgz" >> $GITHUB_ENV
          helm package quantanexus-cs \
            --version ${{ github.ref_name }} \
            --app-version ${{ github.ref_name }}
          # 生成文件形如: quantanexus-v1.2.3.tgz
          echo "CHART_CS_TGZ=quantanexus-cs-${{ github.ref_name }}.tgz" >> $GITHUB_ENV

      # generate the github page 
      - name: Update index.yaml
        run: |
          git clone --depth 1 --branch gh-pages \
            https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git gh-pages
          mv *.tgz gh-pages/
          cd gh-pages
          helm repo index . --merge index.yaml
          git add .
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git commit -m "Add chart ${{ github.ref_name }}"
          git push